@model ModelLayer.DTO.TransporteViewModel

<div class="modal-header">
    <h5 class="modal-title" id="editTransporteModalLabel">Editar Transporte</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
</div>
<div class="modal-body">
    @using (Html.BeginForm("Edit", "Transportes", FormMethod.Post, new { id = "editTransporteForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="mb-3">
            @Html.LabelFor(m => m.Tipo, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Tipo, new { @class = "form-control", required = "required" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.Capacidad, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Capacidad, new { @class = "form-control", type = "number", required = "required" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.IdProveedor, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.IdProveedor, new { @class = "form-control", type = "number", required = "required" })
        </div>
    }
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button type="submit" form="editTransporteForm" class="btn btn-primary">Guardar Cambios</button>
</div>
